.button {
  height: 80px;
  width: 80px;
  border: 1px solid #333;
  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  line-height: 60px;
  text-align: center;
  color: #333;
  font-size: 25px;
  font-weight: bold;
  background: #ffff4d;
}
button:focus {
  border: 1px solid #fff;
}
